# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
.eggs/
.venv/
venv/
env/

# Django
*.sqlite3
backend/staticfiles/
backend/frontend_build/
backend/db.sqlite3
backend/.env

# Node / Vite
node_modules/
frontend/dist/
.npm/

# IDE / OS
.vscode/
.idea/
.DS_Store

# Logs / misc
*.log
.coverage
.pytest_cache/
